 @font-face {
  font-family: 'FuturaPTBold';
  src: url('../assets/fonts/FuturaWolf/FuturaPTBold.woff') format('opentype');
  font-weight: bold;
  font-style: normal;
}
/*
@font-face {
  font-family: 'FuturaPTBoldOblique';
  src: url('/assets/fonts/Futura/FuturaPTBoldOblique.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
} */

@font-face {
  font-family: 'FuturaPTBook';
  src: url('../assets/fonts/FuturaWolf/FuturaPTBook.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPTCondMediumOblique';
  src: url('../assets/fonts/FuturaWolf/FuturaPTCondMediumOblique.woff') format('opentype');
  font-weight: normal;
  font-style: italic;
} 
@font-face {
  font-family: 'FuturaPTBookOblique';
  src: url('../assets/fonts/FuturaWolf/FuturaPTBookOblique.woff') format('opentype');
  font-weight: normal;
  font-style: italic;
}

/*
@font-face {
  font-family: 'FuturaPTCondBold';
  src: url('/assets/fonts/Futura/FuturaPTCondBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPTCondBoldOblique';
  src: url('/assets/fonts/Futura/FuturaPTCondBoldOblique.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaPTCondBook';
  src: url('/assets/fonts/Futura/FuturaPTCondBook.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPTCondBookOblique';
  src: url('/assets/fonts/Futura/FuturaPTCondBookOblique.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaPTCondExtraBold';
  src: url('/assets/fonts/Futura/FuturaPTCondExtraBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPTCondExtraBoldOblique';
  src: url('/assets/fonts/Futura/FuturaPTCondExtraBoldOblique.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

*/

 @font-face {
  font-family: 'FuturaPTDemi';
  src: url('../assets/fonts/FuturaWolf/FuturaPTDemi.woff') format('woff');
  font-weight: bold;
  font-style: normal;
} 
/* 
@font-face {
  font-family: 'FuturaPTDemiOblique';
  src: url('/assets/fonts/Futura/FuturaPTDemiOblique.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaPTExtraBold';
  src: url('/assets/fonts/Futura/FuturaPTExtraBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPTExtraBoldOblique';
  src: url('/assets/fonts/Futura/FuturaPTExtraBoldOblique.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
} */

@font-face {
  font-family: 'FuturaPTHeavy';
  src: url('../assets/fonts/FuturaWolf/FuturaPTHeavy.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('src/assets/fonts/FuturaWolf/futura-pt.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* 
@font-face {
  font-family: 'FuturaPTHeavyOblique';
  src: url('/assets/fonts/Futura/FuturaPTHeavyOblique.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaPTLight';
  src: url('/assets/fonts/Futura/FuturaPTLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPTLightOblique';
  src: url('/assets/fonts/Futura/FuturaPTLightOblique.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaPTMedium';
  src: url('/assets/fonts/Futura/FuturaPTMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPTMediumOblique';
  src: url('/assets/fonts/Futura/FuturaPTMediumOblique.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
} */


/* all texts to has the font-family FuturaPT */

body, h1, h2, h3, h4, h5, h6, p, a, span, div, input, button, select, option, label, textarea {
  font-family: 'FuturaPTDemi', sans-serif;
}
