:root{
    --bg-color: #D66B00;
    --text-color: #fff;
    --square-color: rgba(0, 0, 0, 0.1);
}
.back{
    background-color: var(--square-color);
    border-radius: 30px;
    width: 60px;
    height: 60px;
    align-self: self-start;
    margin-top: -100px; /* altura que está do topo */
    top: 10px; /* altura que vai parar antes do topo */
    left: 10px;
    position: sticky;
}
.galeria {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 10px;
    color: var(--text-color);
    background: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.fotos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.foto{
    margin: 10px;
    width: 140px;
    height: 140px;
}
.galeria img{
    width: 40px;
    margin-right: 20px;
}